{% extends "base.html" %}

{% block content %}


<div>
    <section id="main-content">
        <section class="wrapper">
          
            <div class="row">
                <div class="col-lg-9 main-chart">
                    <div class="row mt">
                    <!-- SERVER STATUS PANELS -->
                    {% for link in links %}
                        {%-if loop.index <= 6-%}
                        <div class="col-md-4 col-sm-4 mb">
                            <!-- REVENUE PANEL -->
                            
                            <div class="darkblue-panel pn">
                              
                                <div name="test" class="darkblue-header">
                                    <h5>{{ link[1][24:] }}</h5>
                                </div>
                            
                                <div class="chart mt">
                                    <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="{{ link[3] }}"></div>
                                </div>
                                <p class="mt"><b>{{ link[2] }}</b><br/>Clicks<br/> Created: {{link[4]}}</p>

                            </div>
                            
                        </div><!-- /col-md-4 -->
                        {%-endif-%}
                    {% endfor %}
                    <div class="row mt">
                      <!--CUSTOM CHART START -->
                      <div class="border-head">
                          <h3>VISITS</h3>
                      </div>
                      <div class="custom-bar-chart">
                          <ul class="y-axis">
                              <li><span>8.4K+</span></li>
                              <li><span>6.7K+</span></li>
                              <li><span>5.0K+</span></li>
                              <li><span>3.3K+</span></li>
                              <li><span>1.6K+</span></li>
                              <li><span>0</span></li>
                          </ul>
                          {% for link in links %}
                            {%-if loop.index <= 8-%}
                          <div class="bar">
                              <div class="title">{{ link[1][24:] }}</div>
                              <div class="value tooltips" data-original-title="{{ link[3]|sum() }}" data-toggle="tooltip" data-placement="top">{{ link[3]|sum() }}</div>

                          </div>
                            {%-endif-%}
                          {% endfor %}
                      </div>
                      <!--custom chart end-->
                    </div><!-- /row --> 
                    </div>
                </div>
                <div class="col-lg-3 ds">
                        <h3>Recent Links</h3>
                        {% for link in links %}
                            {%-if loop.index <= 13-%}
                              <div class="desc">
                                <div class="thumb">
                                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="details">
                                    <p><muted>{{ link[4] }}</muted><br/>
                                       <a href="#">{{ link[1][24:] }}</a> added<br/>
                                    </p>
                                </div>
                              </div>
                            {%-endif-%}
                        {% endfor %}
                  </div><!-- /col-lg-3 -->
            </div>
          
        </section>

    </section>   

</div>     

  <script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>




<!--   <h1>{{ user.username }}</h1>
  {% for link in links %}
  <div>
    <p>
      long: {{ link.longurl }}<br>
      short: <a href='http://localhost:5000/s/{{ link.shorturl }}'>http://localhost:5000/s/{{ link.shorturl }}</a><br>
    </p>
  </div>
  {% endfor %} -->
{% endblock %}