{% extends "base.html" %}

{% block content %}
    <h1>{{ user.username }}</h1>
    {% for link in links %}
  

    <div>
    	<p>
        	long: {{ link[0] }}<br>
        	short: <a href='http://localhost:5000/s/{{ link[1] }}'>http://localhost:5000/s/{{ link[1] }}</a><br>
            total: {{ link[2] }}<br>
            counts: {{ link[3] }}
            <br>
    	</p>
    </div>
    {% endfor %}
    
    {% for item in weeklyCounts %}
    
    {{ item }}
    <br>
    
    {% endfor %}
    
 



{% endblock %}